In [25]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text, inspect
from flask import Flask, jsonify , render_template

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///../data/met_data.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

# View all of the classes that automap found
Base.classes.keys()

['met_data']

In [15]:
# query for app

met = Base.classes.met_data
conn = engine.connect()
session = Session(engine)

In [31]:
search_team = "cat"
team_df =  pd.read_sql(f"SELECT objectID , year , title, artist , department , objectURL FROM met_data WHERE team='{search_team}' ", conn)
team_df

,objectID,year,title,artist,department,objectURL
0,545971,-664,Cat,,Egyptian Art,https://www.metmuseum.org/art/collection/searc...
1,203392,1750,Cat,Saint James's Factory,European Sculpture and Decorative Arts,https://www.metmuseum.org/art/collection/searc...
2,544118,-332,Cat Statuette intended to contain a mummified cat,,Egyptian Art,https://www.metmuseum.org/art/collection/searc...
3,49698,1900,Cat,Zhang Yuguang,Asian Art,https://www.metmuseum.org/art/collection/searc...
4,199446,1740,Cat,John Astbury,European Sculpture and Decorative Arts,https://www.metmuseum.org/art/collection/searc...
...,...,...,...,...,...,...
780,785037,1570,Ornament for goldsmiths with Cupid holding tro...,Marcus Gheeraerts the Younger,Drawings and Prints,https://www.metmuseum.org/art/collection/searc...
781,857172,1871,"The Poll-Parrot, A Picture Book, Containing: T...",Harrison William Weir,Drawings and Prints,https://www.metmuseum.org/art/collection/searc...
782,898662,1865,The Angora Cat,Richard Doyle,Drawings and Prints,https://www.metmuseum.org/art/collection/searc...
783,548399,-1550,Cosmetic Spoon in the Shape of a Mouse,,Egyptian Art,https://www.metmuseum.org/art/collection/searc...
784,446563,1572,"""A Muslim Pilgrim Learns a Lesson in Piety fro...",Amir Khusrau Dihlavi,Islamic Art,https://www.metmuseum.org/art/collection/searc...

In [40]:
# json for return, date as key, precipitation as value
key_ls = team_df.columns

team_return = [] 

for i in range( len(team_df) ):
    one_object = {}
    for j in range(len(key_ls)) :
        one_object[ key_ls[j] ] =  team_df.iloc[ i , j ]
    team_return.append(one_object)
    
#return jsonify(team_return)

In [35]:
range(len(key_ls))

range(0, 6)

In [ ]:
team_return